@page
@model Orion.Pages.RoleModel

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Permissions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                @* <td>@item.Name</td>
                <td>
                    <ul>
                        @foreach (var permission in item.RolePermissions)
                        {
                            <li>@permission.Permission.Name</li>
                        }
                    </ul>
                </td> *@
            </tr>
        }
    </tbody>
</table>
