@page
@model Orion.Pages.UserModel
@{
}
<div>
<table>
    <thead>
        <th>Role</th><br>
        <th>Name</th><br>
    </thead>
    <tbody>
    @foreach (var item in (Model as UserModel).Users)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Role)</td>
            <td>@Html.DisplayFor(m => item.Name)</td>
        </tr>
    }
    </tbody>
        
</table>
</div>