@page
@model Orion.Pages.UserModel

<div>
    <table>
        <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                   @*  <td>@item.Role.Name</td> 
                    <td>@item.Name</td>  *@
                </tr>
            }
        </tbody>
    </table>
</div>
