@page
@* @model addCategoryModel  *@
@model Orion.Pages.Admin.addCategoryModel 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/checkout.css">
    <title>Supervisor Signin </title>

</head>
<body>

    <div class="container">
        <div class="shryta" id="categoryShryta"> <img src="img/mainnpay.jpg" alt="" srcset=""></div>

        <form action="">

            <div class="row">

                <div class="col">

                    <h3 class="title" id="SigninTT">Add category</h3>


                    <div class="inputBox">
                        <span>name:</span>
                        <input type="text" placeholder="john deo">

                    </div>
                    <div class="inputBox">
                        <span>picture :</span>
                        <input type="file" placeholder="***********">
                    </div>

                    <div class="BTBOT"> <input type="submit" value="Submit" class="button22"></div>


        </form>

    </div>

</body>
</html>