<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/checkout.css">
    <title>Supervisor Signup </title>

</head>
<body>

<div class="container">
    <div class="shrytaREG"> <img src="img/mainnpay.jpg" alt="" srcset=""></div>

   <!--         <form>--> 

        <div class="row">

            <div class="col">

                <h3 class="title">Personal information</h3>

                <div class="inputBox">
                    <span>full name</span>
                    <input type="text" placeholder="john deo">
                </div>
                <div class="inputBox">
                    <span>email</span>
                    <input type="email" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>password:</span>
                    <input type="password" placeholder="********">
                </div>
                <div class="inputBox">
                    <span>confirm password</span>
                    <input type="password" placeholder="********">
                </div>
                <div class="inputBox">
                    <span>phone number</span>
                    <input type="text" placeholder="0123456789">
                </div>
                <div class="inputBox" >
                    <span>Gender</span>
                    <select name="" id=""><option value="male" name="Gender">Male</option>
                        <option value="female" name="Gender">Female</option></select>
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>date of birth</span>
                        <input type="date" placeholder="30/3/2003">
                    </div>
                    <div class="inputBox">
                        <span>profile image</span>
                        <input type="file" >
                    </div>
                    
                </div>
                

            </div>

            <div class="col">

                <h3 class="title" id="sklkl">Skill information</h3>

                <div class="inputBox" >
                    <span>responsible region</span>
                    <select name="" id=""><option value="dokki" name="Supervisor">dokki</option>
                        <option value="nasr city" name="Supervisor">nasr city</option></select>
                </div>
                <div class="inputBox" >
                    <span>Skill</span>
                    <select name="" id="">
                        <option  name="skill">Resin</option>
                        <option  name="skill">crochet</option>
                        <option  name="skill">beads</option>
                        <option  name="skill">punch needle</option>
                        <option  name="skill">none</option>


                    </select>
                </div>
                <div class="inputBox" >
                    <span>Orphanage</span>
                    <div id="supSiCh">
                    <div class="productCheck" >
                        <input type="checkbox" placeholder="7cm" id="check1" class="upcheck">
                        <label for="check1">Dar el aml</label>
                    </div>
                    <div class="productCheck">
                        <input type="checkbox" placeholder="7cm" id="check2" class="upcheck">
                        <label for="check2">Dar hayah</label>
                    </div>
                    <div class="productCheck" class="upcheck">
                        <input type="checkbox" placeholder="7cm" id="check3">
                        <label for="check3">little sparks</label>
                    </div>
                    
                </div>
                
                </div>
                
                    <!-- <select name="" id="">
                        <option  name="Orphanage">Dar el aml</option>
                        <option  name="Orphanage">Dar hayah</option>
                        <option  name="Orphanage">little sparks</option>
                        <option  name="Orphanage">O dar</option>

                    </select> -->
                </div>
                

            </div>
            <div class="BTBOT"> <input type="submit" value="Sign UP" class="button22"></div>

        </div>



    <!--   </form>  -->

</div>    
    
</body>
</html>