@page
@model Orion.Pages.EndUser.detailsModel
@{
    Layout = "~/pages/shared/_Layout-Dark.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/cssEndUser/details.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Product details</title>
</head>
<body>

    <div class="pdetail-container">
        <div class="card">
            <div class="shoeBackground">
                <div class="gradients">
                    <div class="gradient second" color="purple"></div>
                    <div class="gradient" color="red"></div>
                    <div class="gradient" color="green"></div>
                    <div class="gradient" color="orange"></div>
                    <div class="gradient" color="black"></div>
                </div>
                <h1 class="nike">Orion</h1>
                <a href="orphanage.html" class="logo">Dar ElAml</a>
                <a href="#" class="share"><i class="fas fa-share-alt"></i></a>

                <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Product.ProductImage)" alt="" class="shoe show product-img" color="purple">
            </div>
            <div class="info">
                <div class="shoeName">
                    <div>
                        <h1 class="big product-title">@Model.Product.ProductName</h1>
                        <span class="new">new</span>
                    </div>
                    <h3 class="small"><a href="childProfile.html">Star:<span class="spana">Logy ali</span></a></h3>
                </div>
                <div class="description">
                    <h3 class="title">Product Info</h3>
                    <p class="text">@Model.Product.Description</p>
                </div>
                <div class="buy-price">
                    <a href="checkout.html" class="buy add-cart"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    <div class="price">
                        <i class="fas fa-dollar-sign"></i>
                        <h1 class="product-price">$@Model.Product.ProductPrice</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Feedbacks</h1>

    <div class="writtenFeed">
        <div class="card-review">
            <div class="stars-review">
                <!-- Star SVGs and feedback content -->
            </div>
            <div class="infos">
                <p class="date-time">2 days ago</p>
                <p class="description-review">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="author">— John Doe</div>
        </div>
    </div>

    <script src="Js/mainCart.js"></script>
    <script src="Js/app.js"></script>
</body>
</html>