@page
@model donateModel
@{
    Layout = "~/pages/shared/_Layout-Dark.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/cssEndUser/checkout.css">
    <link rel="stylesheet" href="/cssEndUser/layout.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.min.css">

    <title>Donate </title>

</head>
<body>

<div class="container-donate">
    <div class="shryta"> <img src="img/mainnpay.jpg" alt="" srcset=""></div>

        <form method="post">

        <div class="row">

           
            <div class="col">

                <h3 class="title">Where your donations go:</h3>
                <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime assumenda pariatur, eveniet nam distinctio hic, impedit cum et qui laudantium sint doloribus voluptate nostrum quidem esse rem eaque dicta. Repellendus!</h4>
            </div>
            <div class="col">

                <h3 class="title">Donate for Orion stars</h3>

                <div class="inputBox">
                    <span>cards accepted :</span>
                   <a href="visa.html"> <img src="img/card_img.png" alt=""></a>
                </div>
                <div class="inputBox">
                    <span>Fawry code :</span>
                    <input type="text" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>Aman code :</span>
                    <input type="number" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>Donation:</span>
                        <input type="number" asp-for="Donation.DonationQuantity" placeholder="5 LE">
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>passcode</span>
                        <input type="number" placeholder="2022">
                    </div>
                    <div class="inputBox">
                        <span>none :</span>
                        <input type="text" placeholder="1234">
                    </div>
                </div>

            </div>
         
        </div>


        <div class="BTBOT"> <input type="submit" value="Donate" class="button22"></div>

    </form>

</div>    
   
    <!-- link js -->
    <script src="~/js/mainCart.js" asp-append-version="true"></script>
  

</body>
</html>