@page
@model feedbackModel


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cssEndUser/trial.css">
    <link rel="stylesheet" href="/cssEndUser/layout.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.min.css">

    <title>Document</title>
</head>
<body>
     <!-- header start -->
  <header class="header">
    <div class="container">
       <div class="header-main">
          <div class="logo">
             <a href="Home.html"><img src="img/GRAD logo white.png" width="180px"></a>
          </div>
          <div class="open-nav-menu">
             <span></span>
          </div>
          <div class="menu-overlay">
          </div>
          <!-- navigation menu start -->
          <nav class="nav-menu">
            <div class="close-nav-menu">
               <img src="img/close.svg" alt="close">
            </div>
            <ul class="menu">
               <li class="menu-item menu-item-has-children">
                  <a href="Home.html" data-toggle="sub-menu">Home </i></a>
                  <!-- <ul class="sub-menu">
                      <li class="menu-item"><a href="#" class="javanav">Products</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 2</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 3</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 4</a></li>
                  </ul> -->
               </li>
               
               <li class="menu-item  menu-item-has-children">
                  <a href="raw.html" data-toggle="sub-menu">Raw materials<i class="plus"></i></a>
                   <ul class="sub-menu">
                      <li class="menu-item"><a href="raw.html" class="javanav">Resin</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Clayart</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Crochet</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">punch needle</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Beads</a></li>

                  </ul> 
               </li>
               <li class="menu-item menu-item-has-children">
                  <a href="main-products.html" data-toggle="sub-menu">Products<i class="plus"></i></a>
                  <ul class="sub-menu">
                   <li class="menu-item"><a href="main-products.html" class="javanav">Resin</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Clayart</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Crochet</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">punch needle</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Beads</a></li>

               </ul> 
               </li>
               <li class="menu-item">
                 <a href="Sign.html">Register</a>
              </li>
               <li class="menu-item">
                  <a href="donate.html">Donate</a>
               </li>
               <li class="menu-item">
                  <a href="feedback.html">Contact us</a>
               </li>
               <li class="menu-item">
                 <a href="#">
                   <!-- CART ICON  -->
                   <i class='bx bx-shopping-bag' id="cart-icon"></i>
        
                   <!-- CART  -->
                   <div class="cart">
                       <h2 class="cart-title">Your Cart</h2>
       
                       <!-- CONTENT  -->
                       <div class="cart-content">
       
       
                       </div>
       
                       <!-- TOTAL   -->
                       <div class="total">
                           <div class="total-title">Total</div>
                           <div class="total-price">$0</div>
                       </div>
                       <!-- BUY BUTTON  -->
                       <button type="button" class="btn-buy">Buy Now</button>
                       <!-- CART CLOSE  -->
                       <i class='bx bx-x' id="cart-close"></i>
                   </div>
               </a>
             </li>
           </ul>
         </nav>
         <!-- navigation menu end -->
      </div>
                 </a>
              </li>
            </ul>
          </nav>
          <!-- navigation menu end -->
       </div>
    </div>
 </header>
 <!-- header end -->

  <div class="feed-container">
    <form class="fefe-form">
      <div class="fefe-title">Contact us</div>
      <input type="fefe-text" placeholder="folan@gmail.com" class="input">
      <textarea placeholder="Your message"></textarea>
       
      <button>Send</button>
  </form>
  </div>
  <!-- ---------------------------footer--------------------------------- -->
<footer class="footer">
  <div class="fcontainer">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
  <!-- ---------------------------footer--------------------------------- -->
    <!-- link js -->
    <script src="~/js/mainCart.js" asp-append-version="true"></script>

</body>
</html>