@page
@model HomeModel
@{
    Layout = "~/pages/shared/_layout.cshtml";
} 

   <div class="Ho1">
    <div class="cont1">
        <h1 class="T1">Get your <span class="spsp">Handmade</span> products <br>made with little star hands</h1><br>
        <p class="disc1">Makramea, Beaded accesories, Beaded bags, punch needle, Resin products,<br>Clayart products and more..</p>
        <a href="main-products.html"><button class="button22">Go shopping</button></a>
        <a href="raw.html"><button class="button22">Raw material</button></a>


    </div>
    <div class="imgs1">
       
        <img src="~/img/Untitled-5.png" alt="" data-speed="-3" class="move">
    </div>
</div>
<div class="Ho4">
  <div class="h4">
    <p class="p44"><span>Our story</span><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, illo earum!</p>
  </div>
  <div class="h4">
    <p class="p55"><span>Our Mission</span><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, illo earum!</p>
  </div>
  <div class="h4">
    <p class="p66"><span>Our vision</span><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, illo earum!</p>
  </div>
</div>
<div class="Ho3">
  <div class="h31">
    <p class="p311">Acheiving<br> <span>10</span> SDG's</p>
    <img class="acheive-imgs"  id="sdg" src="~/img/sdgs.PNG" alt="">
  </div>
  <div class="h312">
        <p>Sponsored<br> <span>@Model.orphanagesNum</span> orphanages</p>
    <img class="acheive-imgs" src="~/img/spon.jfif" alt=""> @* just to remember my logic *@

  </div>
  <div class="h313">
        <p>Sold<br> <span>@Model.productsNum</span> products</p>
    <img class="acheive-imgs" src="~/img/vector  cart.jpg" alt="">

  </div>
  <div class="h314">
        <p>Empowered<br> <span>@Model.freelancerNum</span> child</p>
    <img class="acheive-imgs" src="~/img/empower.png" alt="">

  </div>
</div>
    <div class="Ho2">
    <div class="H2up"><h1 class="t2U">Our Stars</h1>
    </div>
     <div class="freelancont">
      <div class="cardShop">
         <div class="imgbx">
           <img src="~/img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
         </div>
   
         <div class="content">
           <div class="details">
             <div class="name">
               <h2>Crochet artist <br><span>Logy Ali</span></h2>
             </div>
   <div class="prod-btn">
      <a href="childProfile.html"><button class="button22c">View profile</button></a>
            
           </div>
         </div>
       </div>
   </div>
   <div class="cardShop">
    <div class="imgbx">
      <img src="~/img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
    </div>

    <div class="content">
      <div class="details">
        <div class="name">
          <h2>Crochet artist <br><span>Logy Ali</span></h2>
        </div>
<div class="prod-btn">
 <a href="childProfile.html"><button class="button22c">View profile</button></a>
       
      </div>
    </div>
  </div>
</div>
<div class="cardShop">
  <div class="imgbx">
    <img src="~/img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
  </div>

  <div class="content">
    <div class="details">
      <div class="name">
        <h2>Crochet artist <br><span>Logy Ali</span></h2>
      </div>
<div class="prod-btn">
<a href="childProfile.html"><button class="button22c">View profile</button></a>
     
    </div>
  </div>
</div>
</div>
<div class="cardShop">
  <div class="imgbx">
    <img src="~/img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
  </div>

  <div class="content">
    <div class="details">
      <div class="name">
        <h2>Crochet artist <br><span>Logy Ali</span></h2>
      </div>
<div class="prod-btn">
<a href="childProfile.html"><button class="button22c">View profile</button></a>
     
    </div>
  </div>
</div>
</div>
     </div>
    <div class="H2down"><h2 class="T2D">New star?</h2> <a href="orionForm.html">Enroll from here</a>
</div>
</div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="~/js/scrollreveal.min.js"></script>
<!-- link js -->
<script src="~/js/mainCart.js" asp-append-version="true"></script>
<!-- link js -->
<script src="~/js/home.js" ></script>

