<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/checkout.css">
     <!-- styles  -->
     <link rel="stylesheet" href="css/layout.css">
     <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.min.css">

    <title>star registration </title>

</head>
<body>
   <!-- header start -->
   <header class="header">
    <div class="container">
       <div class="header-main">
          <div class="logo">
             <a href="Home.html"><img src="img/GRAD logo dark.png" width="180px"></a>
          </div>
          <div class="open-nav-menu">
             <span></span>
          </div>
          <div class="menu-overlay">
          </div>
          <!-- navigation menu start -->
          <nav class="nav-menu">
            <div class="close-nav-menu">
               <img src="img/close.svg" alt="close">
            </div>
            <ul class="menu">
               <li class="menu-item menu-item-has-children">
                  <a href="Home.html" data-toggle="sub-menu">Home </i></a>
                  <!-- <ul class="sub-menu">
                      <li class="menu-item"><a href="#" class="javanav">Products</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 2</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 3</a></li>
                      <li class="menu-item"><a href="#" class="javanav">Home 4</a></li>
                  </ul> -->
               </li>
               
               <li class="menu-item  menu-item-has-children">
                  <a href="raw.html" data-toggle="sub-menu">Raw materials<i class="plus"></i></a>
                   <ul class="sub-menu">
                      <li class="menu-item"><a href="raw.html" class="javanav">Resin</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Clayart</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Crochet</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">punch needle</a></li>
                      <li class="menu-item"><a href="raw.html" class="javanav">Beads</a></li>

                  </ul> 
               </li>
               <li class="menu-item menu-item-has-children">
                  <a href="main-products.html" data-toggle="sub-menu">Products<i class="plus"></i></a>
                  <ul class="sub-menu">
                   <li class="menu-item"><a href="main-products.html" class="javanav">Resin</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Clayart</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Crochet</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">punch needle</a></li>
                   <li class="menu-item"><a href="main-products.html" class="javanav">Beads</a></li>

               </ul> 
               </li>
               <li class="menu-item">
                 <a href="Sign.html">Register</a>
              </li>
               <li class="menu-item">
                  <a href="donate.html">Donate</a>
               </li>
               <li class="menu-item">
                  <a href="feedback.html">Contact us</a>
               </li>
               <li class="menu-item">
                 <a href="#">
                   <!-- CART ICON  -->
                   <i class='bx bx-shopping-bag' id="cart-icon"></i>
        
                   <!-- CART  -->
                   <div class="cart">
                       <h2 class="cart-title">Your Cart</h2>
       
                       <!-- CONTENT  -->
                       <div class="cart-content">
       
       
                       </div>
       
                       <!-- TOTAL   -->
                       <div class="total">
                           <div class="total-title">Total</div>
                           <div class="total-price">$0</div>
                       </div>
                       <!-- BUY BUTTON  -->
                       <button type="button" class="btn-buy">Buy Now</button>
                       <!-- CART CLOSE  -->
                       <i class='bx bx-x' id="cart-close"></i>
                   </div>
               </a>
             </li>
           </ul>
         </nav>
         <!-- navigation menu end -->
      </div>
                 </a>
              </li>
            </ul>
          </nav>
          <!-- navigation menu end -->
       </div>
    </div>
 </header>
 <!-- header end -->


<div class="container-donate">
    <div class="shrytaREG"> <img src="img/mainnpay.jpg" alt="" srcset=""></div>

    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">Personal information</h3>

                <div class="inputBox">
                    <span>full name</span>
                    <input type="text" placeholder="john deo">
                </div>
                <div class="inputBox">
                    <span>email</span>
                    <input type="email" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>password:</span>
                    <input type="password" placeholder="********">
                </div>
                <div class="inputBox">
                    <span>confirm password</span>
                    <input type="password" placeholder="********">
                </div>
                <div class="inputBox">
                    <span>phone number</span>
                    <input type="text" placeholder="0123456789">
                </div>
                <div class="inputBox" >
                    <span>Gender</span>
                    <select name="" id=""><option value="male" name="Gender">Male</option>
                        <option value="female" name="Gender">Female</option></select>
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>date of birth</span>
                        <input type="date" placeholder="30/3/2003">
                    </div>
                    <div class="inputBox">
                        <span>profile image</span>
                        <input type="file" >
                    </div>
                    
                </div>
                

            </div>

            <div class="col">

                <h3 class="title" id="sklkl">Skill information</h3>

                <div class="inputBox" >
                    <span>Supervisor</span>
                    <select name="" id=""><option value="Ahmed" name="Supervisor">Ahmed</option>
                        <option value="sara" name="Supervisor">sara</option></select>
                </div>
                <div class="inputBox" >
                    <span>Skill</span>
                    <select name="" id="">
                        <option  name="skill">Resin</option>
                        <option  name="skill">crochet</option>
                        <option  name="skill">beads</option>
                        <option  name="skill">punch needle</option>

                    </select>
                </div>
                <div class="inputBox" >
                    <span>Orphanage</span>
                    <select name="" id="">
                        <option  name="Orphanage">Dar el aml</option>
                        <option  name="Orphanage">Dar hayah</option>
                        <option  name="Orphanage">little sparks</option>
                        <option  name="Orphanage">O dar</option>

                    </select>
                </div>
                

            </div>
    
        </div>


       <div class="BTBOT"> <input type="submit" value="Sign UP" class="button22"></div>

    </form>

</div>    
    

<!-- ---------------------------footer--------------------------------- -->
<footer class="footer">
    <div class="fcontainer">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="#">watch</a></li>
            <li><a href="#">bag</a></li>
            <li><a href="#">shoes</a></li>
            <li><a href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="Js/homeNAV.js"></script>
</body>
</html>